@import "colors"

.step-indicator
  display: flex
  align-items: center
  justify-content: center
  width: 40px
  height: 40px
  line-height: 10px
  font-size: smaller
  text-align: center
  color: darken($light, 5)

.step-indicator[disabled]
  opacity: 1
  background-color: lighten($primary, 15)
  border-color: lighten($primary, 15)
  pointer-events: none

.tooltip-step-indicator
  display: inline-block
  top: -15px



.min-form-height
  min-height: 350px
